.places {
  margin: 0 auto;
  margin-top: 92px;
  padding: 0 11.56%;
}


@media (max-width: 1279px) {
  .places {
    padding: 0 4.687%;
  }
}


@media (max-width: 1023px) {
  .places {
    margin-top: 67px;
    padding: 0 3.125%;
  }
}

@media (max-width: 767px) {
  .places {
    margin-top: 75px;
    padding: 0;
  }
}
