.page {
  background-color: #2a2c2f;
  font-family: Inter;
  color: #fff;
}

.page__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 28px 0 24px;
  box-sizing: border-box;
}

.header {
  padding: 0 48px;
  display: flex;
  max-width: 1184px;
  justify-content: space-between;
}

.header__logo {
  max-width: 100%;
}

.header__lang-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 4px;
  align-items: flex-end;
}

.header__lang-links-item:first-of-type {
  margin-right: 18px;
  text-decoration: underline;
}

.header__lang-link {
  color: #fff;
  margin-right: 18px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
}

.header__lang-link:last-child {
  margin: 0;
  text-decoration: none;
}

.lead {
  padding-top: 56px;
}

.lead__title {
  margin: 0 auto;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
  width: 720px;
}

.lead__subtitle {
  margin: 0 auto;
  margin-top: 32px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
  width: 640px;
}

.lead__block-image {
  width: 984px;
  margin: 0 auto;
  padding-top: 64px;
}

.lead__image {
  max-width: 100%;
  display: block;
}

.lead__caption {
  margin: 0;
  margin-top: 8px;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.4;
}

.intro {
  padding: 0 148px;
}

.intro__title {
  margin: 0;
  margin-top: 92px;
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  width: 690px;
}

.intro__text {
  margin: 0;
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;
  width: 690px;
}

.intro__list {
  padding: 0;
  margin: 0;
  margin-top: 33px;
  list-style: none;
  width: 690px;
}

.intro__list-item {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
}

.intro__list-item_thin {
  font-weight: 400;
}

.photo-grid {
  margin: 0 auto;
  margin-top: 92px;
  width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.photo-grid__item {
  width: 284px;
  max-width: 100%;
}

.places {
  margin: 0 auto;
  margin-top: 92px;
  padding: 0 148px;
}

.place {
  margin-bottom: 80px;
}

.place__container {
  display: flex;
}

.place__description {
  display: flex;
}

.place__image {
  margin-top: 48px;
  margin-right: 40px;
  max-width: 460px;
  max-height: 460px;
}

.place__title {
  width: 460px;
}

.title {
  margin: 0;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
}

.place__website {
  align-self: flex-end;
  margin-left: 40px;
}

.place__url-heading {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: #aaa;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
}

.place__link {
  margin: 0;
  margin-top: 12px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.place__text {
  margin-top: 48px;
}

.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
}

.place__paragraph:first-of-type {
  margin-bottom: 26px;
}

.place__paragraph:last-of-type {
  margin: 0;
}

.cover {
  padding: 0 48px;
  margin-top: 92px;
}

.cover__container {
  padding: 245px 312px;
  background: url('./images/cover-trains.jpg');
  background-size: cover;
  position: relative;
}

.cover__container:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__container:hover:after {
  background-color: rgba(42, 44, 47, 0.8);
}

.cover__title {
  text-align: center;
  width: 560px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.cover__link {
  color: #fff;
  text-decoration: none;
}

.cover__subtitle {
  margin: 0 auto;
  margin-top: 32px;
  font-size: 18px;
  line-height: 1.2;
  width: 360px;
  text-align: center;
  position: relative;
  z-index: 5;
}

.footer {
  margin: 0 auto;
  margin-top: 92px;
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
  max-width: 1184px;
}


.footer__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-right: 18px;
  padding: 0;
}

.footer__list-item:last-child {
  margin: 0;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.13;
  font-weight: 400;
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .page {
    width: 100%;
    max-width: 1024px;
  }

  .lead {
    padding-top: 50px;
  }

  .lead__block-image {
    width: 928px;
    padding-top: 55px;
  }

  .intro {
    padding: 0 48px;
  }

  .photo-grid {
    width: 928px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }

  .photo-grid__item {
    width: 300px;
    max-width: 100%;
  }

  .places {
    margin: 0 auto;
    margin-top: 92px;
    padding: 0 48px;
  }

  .place__image {
    margin-top: 48px;
    margin-right: 32px;
    max-width: 440px;
    max-height: 440px;
  }

  .place__title {
    width: 440px;
  }

  .place__website {
    align-self: flex-end;
    margin-left: 32px;
  }

  .cover {
    padding: 0;
  }

  .cover__container {
    padding: 195px 232px;
  }

  }





