@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("Inter-Regular.woff2") format("woff2"),
       url("Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url("Inter-Black.woff2") format("woff2"),
       url("Inter-Black.woff") format("woff");
}


.page {
  background-color: #2a2c2f;
  font-family: Inter;
  color: #fff;
}

.page__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 28px 0 24px;
  box-sizing: border-box;
}

.header {
  padding: 0 3.75%;
  display: flex;
  max-width: 1184px;
  justify-content: space-between;
}

.header__logo {
  max-width: 100%;
}

.header__lang-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 4px;
  align-items: flex-end;
}

.header__lang-links-item:first-of-type {
  margin-right: 18px;
  text-decoration: underline;
}

.header__lang-link {
  color: #fff;
  margin-right: 18px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
}

.header__lang-link:last-child {
  margin: 0;
  text-decoration: none;
}

.lead {
  padding-top: 56px;
}

.lead__title {
  margin: 0 auto;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
  width: 56.25%;
}

.lead__subtitle {
  margin: 0 auto;
  margin-top: 32px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
  width: 50%;
}

.lead__block-image {
  width: 76.87%;
  margin: 0 auto;
  padding-top: 64px;
}

.lead__image {
  max-width: 100%;
  display: block;
}

.lead__caption {
  margin: 0;
  margin-top: 8px;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.4;
}

.intro {
  padding: 0 11.56%;
}

.intro__title {
  margin: 0;
  margin-top: 92px;
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  width: 69.9%;
}

.intro__text {
  margin: 0;
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;
  width: 69.9%;
}

.intro__list {
  padding: 0;
  margin: 0;
  margin-top: 33px;
  list-style: none;
  width: 69.9%;
}

.intro__list-item {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
}

.intro__list-item_thin {
  font-weight: 400;
}

.photo-grid {
  margin: 0 auto;
  margin-top: 92px;
  width: 92.5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.photo-grid__item {
  width: 284px;
  max-width: 100%;
}

.places {
  margin: 0 auto;
  margin-top: 92px;
  padding: 0 11.56%;
}

.place {
  margin-bottom: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.place__block-title {
  width: 49.5%;
}

.place__title {
  align-self: flex-end;
}

.title {
  margin: 0;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
}

.place__website {
  align-self: flex-end;
  width: 49.5%;
}

.place__image {
  margin-top: 48px;
  margin-right: 0;
  max-width: 460px;
  align-self: flex-start;
  width: 49.5%;
}

.place__text {
  align-self: flex-start;
  margin-top: 48px;
  width: 49.5%;
}

.place__url-heading {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: #aaa;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.place__link {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
}

.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
}

.place__paragraph:first-of-type {
  margin-bottom: 26px;
}

.cover {
  padding: 0 3.75%;
  margin-top: 92px;
}

.cover__container {
  padding: 245px 312px;
  background: url("./images/cover-trains.jpg");
  background-size: cover;
  position: relative;
}

.cover__container:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__container:hover:after {
  background-color: rgba(42, 44, 47, 0.8);
}

.cover__title {
  text-align: center;
  width: 90.75%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.cover__link {
  color: #fff;
  text-decoration: none;
}

.cover__subtitle {
  margin: 0 auto;
  margin-top: 32px;
  font-size: 18px;
  line-height: 1.2;
  width: 65%;
  text-align: center;
  position: relative;
  z-index: 5;
}

.footer {
  margin: 0 auto;
  margin-top: 92px;
  display: flex;
  justify-content: space-between;
  padding: 0 3.75%;
  max-width: 1184px;
}

.footer__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-right: 18px;
  padding: 0;
}

.footer__list-item:last-child {
  margin: 0;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.13;
  font-weight: 400;
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
}

@media (max-width: 1279px) {
  .page__container {
    max-width: 100%;
  }

  .header {
    padding: 0 4.687%;
  }

  .lead {
    padding-top: 50px;
  }

  .lead__title {
    width: 70.31%;
  }

  .lead__block-image {
    width: 90.6%;
    padding-top: 55px;
  }

  .intro {
    padding: 0 4.6%;
  }

  .intro__title {
    width: 72.38%;
  }

  .intro__text {
    width: 74.38%;
  }

  .intro__list {
    width: 74.38%;
  }

  .photo-grid {
    width: 90.62%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }

  .photo-grid__item {
    width: 300px;
    max-width: 100%;
  }

  .places {
    padding: 0 4.687%;
  }

  .place {
    margin-bottom: 78px;
  }

  .place__image {
    width: 47.5%;
  }

  .cover {
    padding: 0;
  }

  .cover__container {
    padding: 195px 232px;
  }

  .footer {
    margin: 0 auto;
    margin-top: 92px;
    padding: 0 4.5%;
  }
}

@media (max-width: 1023px) {
  .page__container {
    max-width: 100%;
  }

  .header {
    padding: 0 3.125%;
  }

  .lead__title {
    width: 93.75%;
  }

  .lead__subtitle {
    width: 64%;
  }

  .lead__block-image {
    width: 100%;
  }

  .lead__caption {
    padding-left: 3.125%;
  }

  .intro {
    padding: 0 3.125%;
  }

  .intro__title {
    margin-top: 88px;
    width: 93.75%;
  }

  .intro__text {
    width: 93.75%;
  }

  .intro__list {
    width: 93.75%;
  }

  .photo-grid {
    width: 93.75%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
    margin-top: 88px;
  }

  .photo-grid__item {
    width: 352px;
    max-width: 100%;
  }

  .places {
    margin-top: 90px;
    padding: 0 3.125%;
  }

  .place {
    margin-bottom: 70px;
  }

  .place__title {
    font-size: 42px;
    font-weight: 900;
    padding-right: 26px;
  }

  .place__image {
    margin-top: 48px;
    margin-right: 0;
    max-width: 340px;
  }

  .place__paragraph {
    font-size: 16px;
  }

  .place__paragraph:first-of-type {
    margin-bottom: 25px;
  }

  .cover {
    margin-top: 0;
  }

  .cover__container {
    padding: 115px 104px;
  }

  .footer {
    margin-top: 88px;
    padding: 0 24px;
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .page__container {
    max-width: 100%;
    padding: 16px 0 24px;
  }

  .header {
    padding: 0 5%;
  }

  .header__logo {
    width: 49.37%;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 1.1;
    font-weight: 400;
  }

  .lead {
    padding-top: 48px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    width: 90%;
  }

  .lead__subtitle {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.25;
    width: 90%;
  }

  .lead__block-image {
    width: 100%;
    padding-top: 40px;
  }

  .lead__caption {
    padding-left: 5.125%;
  }

  .intro {
    padding: 0 5%;
  }

  .intro__title {
    margin-top: 64px;
    font-size: 32px;
    line-height: 1.09;
    width: 87%;
  }

  .intro__text {
    width: 100%;
  }

  .intro__list {
    width: 100%;
  }

  .photo-grid {
    margin-top: 64px;
    width: 90%;
    grid-template-columns: minmax(288px, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
  }

  .photo-grid__item {
    width: 288px;
    max-width: 100%;
  }

  .places {
    margin-top: 64px;
    padding: 0;
  }

  .place {

  }

  .place__block-title {
    width: 100%;
    padding: 0 5%;
  }

  .title {
    font-size: 32px;
    line-height: 1.09;
  }

  .place__website {
    width: 100%;
    margin-top: 22px;
    padding: 0 5%;
  }

  .place__image {
    margin-top: 33px;
    margin-right: 0;
    width: 100%;
  }

  .place__text {
    margin-top: 32px;
    width: 100%;
    padding: 0 5%;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
    font-weight: 400;
  }

  .cover {
    padding: 0;
    margin-top: 66px;
  }

  .cover__container {
    padding: 33px 16px;
  }

  .cover__title {
    width: 88%;
    font-size: 32px;
    line-height: 1.09;
  }

  .cover__subtitle {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.14;
    width: 90%;
  }

  .footer {
    flex-direction: column;
    padding: 0 5%;
    width: 90%;
    margin-top: 64px;
  }

  .footer__list {
    flex-direction: column;
    margin-bottom: 48px;
  }

  .footer__list-item:not(:last-child) {
    margin-bottom: 32px;
  }


  .footer__link {
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
  }

  .footer__copyright {
    line-height: 1;
  }

}
