.intro__list {
  padding: 0;
  margin: 0;
  margin-top: 33px;
  list-style: none;
  width: 69.9%;
}

@media (max-width: 1279px) {
  .intro__list {
    width: 74.38%;
  }
}

@media (max-width: 1023px) {
  .intro__list {
    width: 93.75%;
  }
}

@media (max-width: 767px) {
  .intro__list {
    width: 100%;
  }
}
