.intro__text {
  margin: 0;
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;
  width: 69.9%;
}

@media (max-width: 1279px) {
  .intro__text {
    width: 74.38%;
  }
}

@media (max-width: 1023px) {
  .intro__text {
    width: 100%;
  }
}
